/*Here a define the style of the whole page, since every other element is a descendant of the <html> element*/
html {
    font-size: 15px; /*The font size is 15 PIXELS;*/
    font-family: 'Montserrat', sans-serif; /*This is the family of the font; the information came from the
    Google Fonts web page;*/
    background-color: #4E818E
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #4E818E;
    text-shadow: 3px 3px 1px black;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #4E818E;
    text-shadow: 1px 1px 1px black;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 20px auto;
    background-color: #C7EDC0;
    padding: 0px 20px 20px 20px;
    border: 5px solid #F7D9F0;
}

img {
    display:block;
    margin: 0 auto;
    width: 200px;
    border: 2px solid white;
}