/*Here a define the style of the whole page, since every other element is a descendant of the <html> element*/
html {
    font-size: 15px; /*The font size is 15 PIXELS;*/
    font-family: 'Montserrat', sans-serif; /*This is the family of the font; the information came from the
    Google Fonts web page;*/
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}